<body class="text-center">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="card">
                    <div class="card-header">
                         <h4>Actualizar usuario - {{user_.id}}</h4>
                    </div>
                    <div class="card-body ">
                        <form id="formLogin" action="/auth/update/{{ user_.id }}" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" id="name" name="name" value="{{user_.name}}" class="form-control" id="floatingInput"  autofocus required
                                    placeholder="Nombre">
                                <label for="floatingInput">Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" id="user" name="username" value="{{user_.username}}" class="form-control" id="floatingInput" required
                                    placeholder="name@example.com">
                                <label for="floatingInput">Correo</label>
                            </div>
                            <small><strong>Tipo de Usuario</strong></small>  
                            <select id="usertype" name="usertype" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                               <option value="{{user_.usertype}}"</option>{{user_.usertype}}</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Direccion">Direccion</option>
                                <option value="Recepcion">Recepcion</option>
                                <option value="Mantenimiento">Mantenimiento</option>
                                <option value="Operaciones">Operaciones</option>
                            </select>
                            <small><strong>Modulos de Sistema</strong></small>  
                            <select id="module" name="module" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                                {{!-- <option value=""</option> --}}
                                <option value="Monitoreo y Mantenimiento">Monitoreo y Mantenimiento</option>
                                {{!-- <option value="Direccion">Direccion</option> --}}
                            </select>
                            <br>
                            <p><strong>Atributos de sistema</strong></p>
                            <div class="form-check form-check-inline">
                                {{#if user_.admin_atrib}}
                                <input class="form-check-input" type="checkbox" id="admin_atrib" name="admin_atrib" checked/>
                                <label class="form-check-label" for="admin_atrib">Administrador</label>
                                {{else}}
                                <input class="form-check-input" type="checkbox" id="admin_atrib" name="admin_atrib"/>
                                <label class="form-check-label" for="admin_atrib">Administrador</label>
                                {{/if}}
                            </div>

                            <div class="form-check form-check-inline">
                                {{#if user_.mto_atrib}}
                                <input class="form-check-input" type="checkbox" id="mto_atrib" name="mto_atrib" checked/>
                                <label class="form-check-label" for="mto_atrib">Mantenimiento</label>
                                {{else}}
                                <input class="form-check-input" type="checkbox" id="mto_atrib" name="mto_atrib" />
                                <label class="form-check-label" for="mto_atrib">Mantenimiento</label>
                                {{/if}}
                            </div>

                            <div class="form-check form-check-inline">
                                {{#if user_.recepcion_atrib}}
                                <input class="form-check-input" type="checkbox" id="recepcion_atrib" name="recepcion_atrib" checked/>
                                <label class="form-check-label" for="recepcion_atrib">Recepci贸n</label>
                                {{else}}
                                <input class="form-check-input" type="checkbox" id="recepcion_atrib" name="recepcion_atrib" />
                                <label class="form-check-label" for="recepcion_atrib">Recepci贸n</label>
                                {{/if}}
                            </div>
                            <br>
                            <div class="form-check form-check-inline">
                                {{#if user_.direccion_atrib}}
                                <input class="form-check-input" type="checkbox" id="direccion_atrib" name="direccion_atrib" checked/>
                                <label class="form-check-label" for="direccion_atrib">Direcci贸n</label>
                                {{else}}
                                <input class="form-check-input" type="checkbox" id="direccion_atrib" name="direccion_atrib" />
                                <label class="form-check-label" for="direccion_atrib">Direcci贸n</label>
                                {{/if}}
                            </div>
                            <div class="form-check form-check-inline">
                                {{#if user_.operaciones_atrib}}
                                <input class="form-check-input" type="checkbox" id="operaciones_atrib" name="operaciones_atrib" checked/>
                                <label class="form-check-label" for="operaciones_atrib">Operaciones</label>
                                {{else}}
                                <input class="form-check-input" type="checkbox" id="operaciones_atrib" name="operaciones_atrib" />
                                <label class="form-check-label" for="operaciones_atrib">Operaciones</label>
                                {{/if}}
                            </div>
                    
                            <div class="card-footer">
                                {{!-- <div class="d-grid mb-3 "> --}}
                                    <a href="/auth" class="btn btn-secondary" role="button"
                                     aria-disabled="true">Cancelar</a>
                                    <button class="btn btn-primary" type="submit">Actualizar</button>  
                                {{!-- </div>                               --}}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>